.form-modal {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    display: none;
}
.form-wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark2;
    border: solid 0.125rem;
    border-color: $light;
    padding: 1.2rem 0.75rem;
}
.form {
    background-color: $dark2;
    padding: 0.75rem 1.2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fieldset {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
        &.fieldset-error {
            outline-color: $danger;
            color: $danger;
        }
        &.fieldset-valid {
            outline-color: $primary;
            color: $primary;
        }
        .error-message {
            display: block;
            margin-top: 0.25rem;
        }
        label {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            color: inherit;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            font-size: 1rem;
            cursor: text;
        }
        input {
            width: 100%;
            padding: .5rem .75rem;
            border-radius: 10px;
            background-color: transparent;
            color: inherit;
            outline: solid 0.25rem;
            outline-color: inherit;
            border: none;
            font-size: 1rem;
            transition: all 0.2s ease-in-out;
            &:focus,&:active,&:hover,&:autofill, &:-webkit-autofill {
                border: none;
                outline: none;
                outline: solid 0.25rem;
            }
            &:focus + label,
            &:active + label,
            &:not(:placeholder-shown) + label {
                top: -1rem;
                left: 0.85rem;
                font-size: 0.85rem;
                background-color: $dark2;
                padding: 0.1rem 0.5rem;
                border-radius: 5px;
            }
        }
        .input--eye {
            position: absolute;
            right: 1rem;
            top: 0.5rem;

        }
    }
    .link {
        align-self: end;
        &:hover {
            text-decoration: underline;
        }
    }
}
