.form-modal {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    display: block;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    backdrop-filter: brightness(50%);
}
.form-modal-inner {
    position: absolute;
    top: -10%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 350px;
    max-height: 500px;
    width: 60%;
    transform: rotate3d(0, 1, 0, 0deg);
    transition: transform 0.5s ease, top 0.5s ease;
    transform-style: preserve-3d;
    &.flipped {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    .front-face, .back-face {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: transform 0.4s;
        transform: rotate3d(0, 1, 0, 0deg);
        backface-visibility: hidden;
    }
    .back-face {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fieldset {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
        &.fieldset-error {
            outline-color: $danger;
            color: $danger;
        }
        &.fieldset-valid {
            outline-color: $primary;
            color: $primary;
        }
        .error-message {
            display: block;
            margin-top: 0.15rem;
        }
        label {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            color: inherit;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            font-size: 1rem;
            cursor: text;
        }
        input {
            width: 100%;
            padding: .5rem .75rem;
            border-radius: 10px;
            background-color: transparent;
            color: inherit;
            outline: solid 0.25rem;
            outline-color: inherit;
            border: none;
            font-size: 1rem;
            transition: all 0.2s ease-in-out;
            &:focus,&:active,&:hover,&:autofill, &:-webkit-autofill {
                border: none;
                outline: none;
                outline: solid 0.25rem;
            }
            &:focus + label,
            &:active + label,
            &:not(:placeholder-shown) + label {
                top: -1rem;
                left: 0.85rem;
                font-size: 0.85rem;
                background-color: $dark2;
                padding: 0.1rem 0.5rem;
                border-radius: 5px;
            }
        }
        .input--eye {
            position: absolute;
            right: 1rem;
            top: 0.5rem;

        }
    }
    .link {
        align-self: end;
        &:hover {
            text-decoration: underline;
        }
    }
    .form-error {
        color: $danger;
    }
    .form-message {
        color: $primary;
    }
}
.tag-input-wrapper {
    width: 100%;
    padding: 1rem 1.5rem;
}
.tag-input-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    .tag-box {
        padding: 0.15rem 0.25rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        color: inherit;
        position: relative;
        transition: background-color 0.2s ease;
        max-width: fit-content;
        &:hover {
            cursor: pointer;
            background-color: $dark2;
            color: $warning;
        }
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
    input.tag-input {
        display: inline;
        color: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        flex: 1;
        padding: 0.15rem 0.25rem;
    }
}

