
.scrolled {
    transform: translateY(-90%) !important;
}

.header {
    width: var(--main-width);
    padding: 0;
    position: fixed;
    display: flex;
    font-size: 1.35rem;
    height: 3.25rem;
    transform: none;
    transition: transform 0.5s ease-in;
    transform: translateY(0);
    transition: transform 0.4s;
    box-shadow: 10px 0px 5px #111;
    z-index: 10;
    backdrop-filter: blur(0.5rem);
}
.progress-bar {
    position: absolute;
    width: 100%;
    height: 0.125rem;
    max-width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    width: 3rem;
    font-size: 1rem;
    transition: color 0.4s;
    &:hover {
        color: $primary !important;
    }
    img {
        max-width: 100%;
    }
}
.endpunkt-header-toggler {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: block ;
        width: 100%;
    }
}


.hero-bilder {
    width: 100%;
    max-width: 35rem;
}


@keyframes cursor {
    50% {
        opacity: 0.1;
    }
}
