.content.hero {
    position: relative;
    grid-column: 1 / 4;
    width: 100%;
    height: 80vh;
    &::after {
        content: "";
        position: absolute;
        z-index: 2;
        height: 20%;
        width: 100%;
        background: linear-gradient(to top, black, transparent);
        bottom: 0;
    }
}
.hero-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background-image: url("../../assets/img/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.2);
}
.hero-text {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 4;
    margin: 0 auto;
    padding: 1rem 1.65rem;
}


@media only screen and (min-width: 768px) {
    .hero-bg {
        background-size: 80%;
        background-position: 0% 3.25rem;
        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            height: 100%;
            width: 30%;
            background: linear-gradient(to right, transparent 10%, black 30%);
            right: 0%;
        }
    }
}
@media only screen and (min-width: 1024px) {
    .hero-bg {
        background-size: 85%;
        background-position: 0% -3.25rem;
        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            height: 100%;
            width: 30%;
            background: linear-gradient(to right, transparent 10%, black 30%);
            right: 0%;
        }
    }
}