.sidebar-nav {
    position: relative;
    height: 100%;
    width: var(--nav-width);
    transition: width 0.4s;
    z-index: 3;
}
.nav-listener {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 120px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 20%;
    height: fit-content;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset -2px 0px 0px #111, 0px 0px 5px #111;
    transform: translate(-75%);
    opacity: 0;
    transition: transform 0.2s, height 0.2s, top 0.4s, opacity 0.4s;
    &[aria-expanded='true'] {
        top: 0%;
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        transform: translate(0%);
        opacity: 1;
        width: 100%;
    }
    &.show {
        transform: translate(0%);
        opacity: 1;
    }
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-toggler {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 0;
    padding: 0.25rem;
    background-color: transparent;
    transition: background-color 0.4s;
    border: none;
    border-radius: 15px;
    align-self: center;
    &:hover {
        background-color: #33333375;
    }
    svg {
        stroke: #fff;
        stroke-width: 1.45rem;
        transition: stroke 0.4s;
        path {
            fill: transparent;
            stroke-linecap: round;
            transition: d 0.4s;
        }
        #bar1 {
            d: path('M 50 50 L 150 50 L 250 50');
        }
        #bar2 {
            d: path('M 50 150 L 220.415 150');

        }
        #bar3 {
            d: path('M 188.678 250 L 119.339 250 L 50 250');

        }
        &:hover {
            stroke: #ddd;
            #bar1 {
                d: path('M 200 100 L 250 150 L 200 200');

            }
            #bar2 {
                d: path('M 50 150 L 125.205 150');
            }
            #bar3 {
                d: path('M 150 100 L 200 150 L 150 200');

            }
        }
    }
}
.sidebar-toggler[data-role='closer'] {
    svg {
        stroke: #fff;
        stroke-width: 1.45rem;
        transition: stroke 0.4s;
        path {
            fill: transparent;
            stroke-linecap: round;
            transition: d 0.4s;
        }
        #bar1 {
            d: path('M 150 200 L 100 150 L 150 100');
        }
        #bar2 {
            d: path('M 174.812 150 L 250 150');

        }
        #bar3 {
            d: path('M 100 200 L 50 150 L 100 100');

        }
        &:hover {
            stroke: #ddd;
            #bar1 {
                d: path('M 159.232 180.381 L 100 150 L 158.655 117.311');

            }
            #bar2 {
                d: path('M 168.465 150 L 250 150');
            }
            #bar3 {
                d: path('M 115.58 220.773 L 50 150 L 122.504 84.997');

            }
        }
    }
}
.sidebar-toggler[data-hidden='true'] {
    display: none;
}
.nav-mobile {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.3rem;
    width: 100%;
    background-color: #11111165;
    transition: background-color 0.4s ease-in-out;
    &:hover {
        background-color: #111;
    }
    .sidebar-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ul {
            gap: 1rem;
        }
    }
    // &.active {
    //     .sidebar-content {
    //         height: 55%;
    //         top: 30%;
    //         transform: translateX(0%);
    //         border-radius: 0;
    //     }
    // }
}
//desktop
// .sidebar-nav {
//     position: relative;
//     height: 100vh;
//     width: var(--nav-width);
//     overflow: hidden;
//     background-color: #444;
//     transition: width 0.4s ease;
//     .sidebar-content {
//         z-index: 1;
//         position: absolute;
//         width: 100%;
//         top: 20%;
//         height: 55%;
//         transform: translateX(-80%);
//         border-top-right-radius: 15px;
//         border-bottom-right-radius: 15px;
//         border: solid 0.15rem;
//         border-color: $dark;
//         box-shadow: inset -1px 0px $dark, 0px 0px 4px #111;
//         transition: top 0.4s ease, height 0.4s ease, border-radius 0.4s ease, transform 0.6s ease;
//         padding: 0.5rem;
//     }
//     &.active {
//         .sidebar-content {
//             height: 55%;
//             top: 30%;
//             transform: translateX(0%);
//             border-radius: 0;
//         }
//     }
// }

@media only screen and (min-width: 768px) {
    .sidebar-toggler {
        display: block;
    }
}