.nav-mobile {
    cursor: pointer;
    z-index: 1000;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.3rem;
    width: 100%;
    .sidebar-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ul {
            gap: 1rem;
        }
    }
}
.sidebar-nav {
    position: relative;
    display: none;
    order: 1;
    height: 100%;
    width: var(--nav-width);
    transition: width 0.4s;
    z-index: 3;
        border-color: $primary;
}

.nav-listener {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 120px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 20%;
    height: fit-content;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset -2px 0px 0px #111, 0px 0px 5px #111;
    transform: translate(-75%);
    opacity: 0;
    transition: transform 0.2s, height 0.2s, top 0.4s, opacity 0.4s;
    &[aria-expanded='true'] {
        top: 0%;
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        transform: translate(0%);
        opacity: 1;
        width: 100%;
    }
    &.show {
        transform: translate(0%);
        opacity: 1;
    }
}
.sidebar-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sidebar-toggler {
        position: relative;
        top: 0;
        left: 0;
    }
}
.sidebar-toggler {
    display: none;
    position: relative;
    top: 0rem;
    left: 0.35rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.25rem;
    background-color: transparent;
    transition: background-color 0.4s;
    border: none;
    border-radius: 15px;
    align-self: center;
    z-index: 3;
    &:hover {
        background-color: #33333375;
    }
    svg {
        stroke: #fff;
        stroke-width: 1.45rem;
        transition: stroke 0.4s;
        path {
            fill: transparent;
            stroke-linecap: round;
            transition: d 0.4s;
        }
        #bar1 {
            d: path('M 50 50 L 150 50 L 250 50');
        }
        #bar2 {
            d: path('M 50 150 L 220.415 150');

        }
        #bar3 {
            d: path('M 188.678 250 L 119.339 250 L 50 250');

        }
        &:hover {
            stroke: #ddd;
            #bar1 {
                d: path('M 200 100 L 250 150 L 200 200');

            }
            #bar2 {
                d: path('M 50 150 L 125.205 150');
            }
            #bar3 {
                d: path('M 150 100 L 200 150 L 150 200');

            }
        }
    }
}

.sidebar-toggler[data-role='closer'] {
    svg {
        stroke: #fff;
        stroke-width: 1.45rem;
        transition: stroke 0.4s;
        path {
            fill: transparent;
            stroke-linecap: round;
            transition: d 0.4s;
        }
        #bar1 {
            d: path('M 150 200 L 100 150 L 150 100');
        }
        #bar2 {
            d: path('M 174.812 150 L 250 150');

        }
        #bar3 {
            d: path('M 100 200 L 50 150 L 100 100');

        }
        &:hover {
            stroke: #ddd;
            #bar1 {
                d: path('M 159.232 180.381 L 100 150 L 158.655 117.311');

            }
            #bar2 {
                d: path('M 168.465 150 L 250 150');
            }
            #bar3 {
                d: path('M 115.58 220.773 L 50 150 L 122.504 84.997');

            }
        }
    }
}
.sidebar-toggler[data-hidden='true'] {
    display: none;
}




@media only screen and (min-width: 576px) {
    .nav-mobile {
        display: none;
    }
    .sidebar-nav, .sidebar-right, .sidebar-toggler {
        display: block;
    }
}