.main-bg {
    position: relative;
    min-height: 70vh;
    background-color: green;
    display: flex;
    &::after {
        content: "";
        position: absolute;
        height: 20%;
        width: 100%;
        background: linear-gradient(to top, #111, transparent);
        bottom: 0;
    }
}

.main-bg div {
    z-index: 1;
}
.main-bg .benutzer--info {
    width: 5rem;
}
.benutzer--text {
    padding: 1rem 2.5rem;
}