//Alles mit .border ist anderes
@mixin runThemes($theme-name, $theme-map) {
    body.#{$theme-name} {
            background-color: map-get($theme-map, bg);
            color: map-get($theme-map, color);
            fill: map-get($theme-map, color);
            stroke: map-get($theme-map, color);
            .bg-1 {
                background-color: map-get($theme-map, bg);
            }
            .bg-2 {
                background-color: map-get($theme-map, bg2);
            }
            .bg-3 {
                background-color: map-get($theme-map, bg3 );
            }
            .bg-1-hover-opacity-1 {
                background-color: map-get($theme-map, bg-1-hover-opacity-1);
                &:hover {
                    background-color: map-get($theme-map, bg);
                }
            }
            .border, .border-top, .border-left, .border-right, .border-bottom {
                border-color: map-get($theme-map, border) !important; 
            }
            .page-item {
                border-color: map-get($theme-map, border) !important; 
            }
            .icon path, .svg-content {
                &:hover {
                    fill: map-get($theme-map, fill-hover);
                    stroke: map-get($theme-map, stroke-hover);
                }
            }
        }
    @each $selector, $map in $theme-map {
        @if ($selector == "header") {
            .#{$theme-name} header.#{$selector} {
                fill: $light;
                stroke: $light;
                background-color: map-get($theme-map, bg-1-hover-opacity-1);
            }
        } @else {}
        
    }
};

