.h1 {
    font-size: 3.15rem;
    line-height: 0.8;
}
.h2 {
    font-size: 2.85rem;
    line-height: 0.8;
}
.p {
    font-size: 1.5rem;
    line-height: 0.9;
}
.split {
    display: block;
    overflow: hidden;
}
.line {
    display: inline;
    transform: translateY(0) rotate(0deg);
    transition: transform 0.4s ease;
}
.text-epic {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mh-60 {
    max-height: 60%;
}
.h-60 {
    height: 60%;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.7rem;
}
.gap-3 {
    gap: 1.5rem;
}
.flex-wrap {
    flex-wrap: wrap;
}
.border-container {
    border: solid $light 0.125rem;
}