.h1 {
    font-size: 3.15rem;
    line-height: 0.8;
}
.h2 {
    font-size: 2.85rem;
    line-height: 0.8;
}
.h5 {
    font-size: 1.4rem;
    line-height: 0.8;
    overflow: hidden;
    border: solid red 0.125rem;
}
.p {
    font-size: 1.5rem;
    line-height: 0.9;
}
.split {
    display: block;
    overflow: hidden;
}
.text-epic {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mh-60 {
    max-height: 60%;
}
.h-60 {
    height: 60%;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.7rem;
}
.gap-3 {
    gap: 1.5rem;
}
.flex-wrap {
    flex-wrap: wrap;
}
.border-container {
    border: solid $light 0.125rem;
}
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
@media only screen and (min-width: 768px) {
    .order-md-0 {
        order: 0;
    }
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
}