$theme-dark: (
    bg: $dark,
    bg2: $dark2,
    border: $dark3,
    color: $light,
    bg-1-hover-opacity-1: rgba($rgb-dark, 0.5),
    "header": (
        bg: transparent,
        fill: $light,
        stroke: $light
    )
);