@keyframes bounce {
    25% {
        transform: translateY(-25%);
    }

    70% {
        transform: translateY(25%);
    }
}
@keyframes stroke-zeigen {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse {
    0% {
       transform: scale(1);
    }
 
    30% {
       transform: scale(1.2);
    }
 
    60% {
       transform: scale(1);
    }
 }


 @keyframes phamton {
    from {
        left: -50%;
    } 
    to {
        left: 100%;
    }
 }

 @keyframes shake {
    0% {
        translate: 0;
    }
    25% {
        translate: -10%;
    }
    50% {
        translate: 10%;
    }
    100% {
        translate: 0;
    }
 }
  @keyframes shakeRotating {
    0% {
        rotate: -10deg;
    }
    25% {
        rotate: 10deg;
    }
    50% {
        rotate: 5deg;
    }
    100% {
        rotate: 0deg;
    }
 }
@keyframes cursor {
    50% {
        opacity: 0.1;
    }
}
 .shake-rotating {
    animation: shakeRotating 2s 1 ease forwards;
 }