//Fonts
@font-face {
    font-family: 'HerculesPixel';
    src: url('/fonts/PixelifySans-Regular.ttf') format('truetype');
};
@font-face {
    font-family: pixel-bold;
    src: url('../assets/fonts/PixelifySans-Bold.ttf');
};
@font-face {
    font-family: pixel-medium;
    src: url('../assets/fonts/PixelifySans-Medium.ttf');
};
@font-face {
    font-family: pixel-semibold;
    src: url('../assets/fonts/PixelifySans-SemiBold.ttf');
};

$navbar-padding-x: 1.5rem;
$primary: #65ff65;
$secondary: #dbdbdb;
$success: #00ffdd;
$danger: #ff3636;
$warning: #fff366;
$dark: #04212d;
$dark2: #053142;
$dark3: #0b4c67;
$light: #e7e7e7;
$light2: #dadada;
$light3: #bebebe;
$rgb-dark: rgb(33, 19, 13);
$rgb-dark2: rgb(5, 49, 66);
$rgb-dark3: rgb(11, 76, 103);
$rgb-light: rgb(231, 231, 231);
$rgb-light2: rgb(218, 218, 218);
$rgb-light3: rgb(190, 190, 190);

$btn-hover-bg-tint-amount: 75%;
$btn-active-bg-tint-amount: 20%;
$btn-hover-bg-shade-amount: 75%;
$btn-active-bg-shade-amount: 20%;
$border-radius: 0;

$font-family-base: ubuntu, sans-serif;
$h1-font-size: 3.35rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.7rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$link-hover-color-rgb: '255, 255, 255';
$btn-font-weight: 400;
$btn-padding-x: .35rem;
$btn-padding-y: 0.25rem;
$btn-font-size: 0.75rem;

$border-color: $dark3;  